/
  \==========================
  PRODUCTS - START
  \===========================
%section.content.products
  .container
    %h2.hidden Products
    .row
      .col-sm-12
        = link_to "Add a Food Item", new_vendors_food_item_path
        #products.row.grid
          = render 'food_item'
          = render 'food_item'
          = render 'food_item'
          = render 'food_item'
          = render 'food_item'
          = render 'food_item'
          = render 'food_item'
          = render 'food_item'
          = render 'food_item'
          = render 'food_item'
          = render 'food_item'
          = render 'food_item'
    /
      \==========================
      PRODUCTS - END
      \===========================
