= form_for @order, url: customers_orders_path(@order) do |f|
  - if @order.errors.any?
    #error_explanation
      %h2= "#{pluralize(@order.errors.count, "error")} prohibited this customers_order from being saved:"
      %ul
        - @order.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
