/
  \==========================
  JUMBOTRON - START
  \===========================
%section.content.jumbotron
  #homepage-1-carousel.nav-inside.owl-animation
    .item.slide-1
      .slide-mask
      .slide-body
        .container
          %i.fa.fa-paper-plane
          %h1{:style => "color: #fff;"} eCatering
          %p Make catering really easy and let us handle the hassle.
/
  \==========================
  JUMBOTRON - END
  \===========================
/
  \==========================
  CATEGORIES - START
  \===========================
%section.content.categories
  .row.row-no-padding
    / CATEGORY - START
    .col-xs-4
      .category
        = image_tag ("example-3.JPG"), class: "img-responsive"
        .category-mask
        %h3.category-title
          Healthy
          %span Options
    / CATEGORY - END
    / CATEGORY - START
    .col-xs-4
      .category
        = image_tag ("example-4.jpg"), class: "img-responsive"
        .category-mask
        %h3.category-title
          Vegetarian
          %span Selection
    / CATEGORY - END
    / CATEGORY - START
    .col-xs-4
      .category
        = image_tag ("example-5.jpg"), class: "img-responsive"
        .category-mask
        %h3.category-title
          Halal
          %span Options
    / CATEGORY - END
/
  \==========================
  CATEGORIES - END
  \===========================
/
  \==========================
  SERVICES - START
  \===========================
%section.content.services.services-3x
  .container
    .row.row-no-padding
      / SERVICE - START
      .col-xs-12.col-sm-4
        .service
          %i.fa.fa-star
          %h3 FREE SHIPPING ON ALL ORDRES
          %p Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.
      / SERVICE - END
      / SERVICE - START
      .col-xs-6.col-sm-4
        .service
          %i.fa.fa-heart
          %h3 AMAZING CUSTOMER SERVICE
          %p Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.
      / SERVICE - END
      / SERVICE - START
      .col-xs-6.col-sm-4
        .service
          %i.fa.fa-rocket
          %h3 NO CUSTOMS OR DUTY FEES!
          %p Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.
      / SERVICE - END
/
  \==========================
  SERVICES - END
  \===========================
/
  \==========================
  BRANDS - START
  \===========================
%section.content.brands.pattern.border-top.border-bottom
  .container
    #brands-carousel
      .item
        = image_tag ("howitworks.png"), class: "img-responsive"
/
  \==========================
  BRANDS - END
  \===========================
/
  \==========================
  TESTIMONIALS - START
  \===========================
%section.content.testimonials.border-top
  .container
    #testimonials-carousel
      .item
        = image_tag ("avatar_01.jpg"), class: "img-responsive img-circle center-block"
        %p Phasellus fringilla neque diam, eget elementum libero eleifend ac. Morbi condimentum metus felis, pellentesque iaculis sapien egestas imperdiet. Curabitur in lacus at ante elementum mollis.
        %h3 Smith - Ceo, company inc.
/
  \==========================
  TESTIMONIALS - END
  \===========================
/
  \==========================
  OUR STORES - START
  \===========================
%section.content.our-stores
  .container
    .row
      .col-md-10.col-lg-8
        %h2 Our service locations
        .row
          / STORE - START
          .col-sm-6
            .store
              %h3 Prague
              %ul.list-unstyled
                %li Krakovská 1307/22, 110 00 Prague 1
                %li Vězeňská 910/2, 110 00 Prague 1-Staré Město
                %li Na Hřebenkách 2, 150 00 Prague 5
          / STORE - END
          / STORE - START
          .col-sm-6
            .store
              %h3 Berlin
              %ul.list-unstyled
                %li Bebelpl. 1, 10117 Berlin
                %li Jablonskistraße 16, 10405 Berlin
                %li Rigaer Str. 9, 10247 Berlin
          / STORE - END
        .row
          / STORE - START
          .col-sm-6
            .store
              %h3 New York
              %ul.list-unstyled
                %li 63 Crosby St, New York, NY 10012
          / STORE - END
          / STORE - START
          .col-sm-6
            .store
              %h3 Paris
              %ul.list-unstyled
                %li 18 Rue Antin, 75002 Paris
          / STORE - END
/
  \==========================
  OUR STORES - END
  \===========================
