<!-- ==========================
      JUMBOTRON - START
    =========================== -->
    <section class="content jumbotron">
        <div id="homepage-1-carousel" class="nav-inside owl-animation">
            <div class="item slide-1">
                <div class="slide-mask"></div>
                <div class="slide-body">
                    <div class="container">
                        <i class="fa fa-paper-plane"></i>
                        <h1 style="color: #36BA4A;">eCatering</h1>
                        <p>Make catering really easy and let us handle the hassle.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
      JUMBOTRON - END
    =========================== -->
    <!-- ==========================
        CATEGORIES - START
    =========================== -->
    <section class="content categories">
        <div class="row row-no-padding">

            <!-- CATEGORY - START -->
            <div class="col-xs-4">
                <div class="category">
                        <%= image_tag ("example-3.JPG"), class: "img-responsive" %>
                        <div class="category-mask"></div>
                        <h3 class="category-title">Healthy <span>Options</span></h3>
                </div>
            </div>
            <!-- CATEGORY - END -->

            <!-- CATEGORY - START -->
            <div class="col-xs-4">
                <div class="category">
                        <%= image_tag ("example-4.jpg"), class: "img-responsive" %>
                        <div class="category-mask"></div>
                        <h3 class="category-title">Vegetarian <span>Selection</span></h3>
                </div>
            </div>
            <!-- CATEGORY - END -->

            <!-- CATEGORY - START -->
            <div class="col-xs-4">
                <div class="category">
                        <%= image_tag ("example-5.jpg"), class: "img-responsive" %>
                        <div class="category-mask"></div>
                        <h3 class="category-title">Halal <span>Options</span></h3>
                </div>
            </div>
            <!-- CATEGORY - END -->

        </div>

    </section>
    <!-- ==========================
        CATEGORIES - END
    =========================== -->
        <!-- ==========================
        SERVICES - START
    =========================== -->
    <section class="content services services-3x">
        <div class="container">
            <div class="row row-no-padding">

                <!-- SERVICE - START -->
                <div class="col-xs-12 col-sm-4">
                    <div class="service">
                        <i class="fa fa-star"></i>
                        <h3>FREE SHIPPING ON ALL ORDRES</h3>
                        <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-6 col-sm-4">
                    <div class="service">
                        <i class="fa fa-heart"></i>
                        <h3>AMAZING CUSTOMER SERVICE</h3>
                        <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

                <!-- SERVICE - START -->
                <div class="col-xs-6 col-sm-4">
                    <div class="service">
                        <i class="fa fa-rocket"></i>
                        <h3>NO CUSTOMS OR DUTY FEES!</h3>
                        <p>Ut feugiat mauris eget magna egestas porta. Curabitur sagittis sagittis neque rutrum congue.</p>
                    </div>
                </div>
                <!-- SERVICE - END -->

            </div>

        </div>
    </section>
    <!-- ==========================
        SERVICES - END
    =========================== -->

    <!-- ==========================
        BRANDS - START
    =========================== -->
    <section class="content brands pattern border-top border-bottom">
        <div class="container">
            <div id="brands-carousel">
                <div class="item">
                    <%= image_tag ("howitworks.png"), class: "img-responsive" %>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
        BRANDS - END
    =========================== -->

<!-- ==========================
        TESTIMONIALS - START
    =========================== -->
    <section class="content testimonials border-top">
        <div class="container">
            <div id="testimonials-carousel">
                <div class="item">
                    <%= image_tag ("avatar_01.jpg"), class: "img-responsive img-circle center-block" %>
                    <p>Phasellus fringilla neque diam, eget elementum libero eleifend ac. Morbi condimentum metus felis, pellentesque iaculis sapien egestas imperdiet. Curabitur in lacus at ante elementum mollis.</p>
                    <h3>Smith - Ceo, company inc.</h3>
                </div>
            </div>
        </div>
    </section>
     <!-- ==========================
        TESTIMONIALS - END
    =========================== -->

    <!-- ==========================
        OUR STORES - START
    =========================== -->
    <section class="content our-stores">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8">
                    <h2>Our service locations </h2>
                    <div class="row">

                        <!-- STORE - START -->
                        <div class="col-sm-6">
                            <div class="store">
                                <h3>Prague</h3>
                                <ul class="list-unstyled">
                                    <li>Krakovská 1307/22, 110 00 Prague 1</li>
                                    <li>Vězeňská 910/2, 110 00 Prague 1-Staré Město</li>
                                    <li>Na Hřebenkách 2, 150 00 Prague 5</li>
                                </ul>
                            </div>
                        </div>
                        <!-- STORE - END -->

                        <!-- STORE - START -->
                        <div class="col-sm-6">
                            <div class="store">
                                <h3>Berlin</h3>
                                <ul class="list-unstyled">
                                    <li>Bebelpl. 1, 10117 Berlin</li>
                                    <li>Jablonskistraße 16, 10405 Berlin</li>
                                    <li>Rigaer Str. 9, 10247 Berlin</li>
                                </ul>
                            </div>
                        </div>
                        <!-- STORE - END -->

                    </div>
                    <div class="row">

                        <!-- STORE - START -->
                        <div class="col-sm-6">
                            <div class="store">
                                <h3>New York</h3>
                                <ul class="list-unstyled">
                                    <li>63 Crosby St, New York, NY 10012</li>
                                </ul>
                            </div>
                        </div>
                        <!-- STORE - END -->

                        <!-- STORE - START -->
                        <div class="col-sm-6">
                            <div class="store">
                                <h3>Paris</h3>
                                <ul class="list-unstyled">
                                    <li>18 Rue Antin, 75002 Paris</li>
                                </ul>
                            </div>
                        </div>
                        <!-- STORE - END -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
        OUR STORES - END
    =========================== -->