!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Online Catering
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic&subset=latin,latin-ext", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,900,800", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "http://code.jquery.com/ui/1.11.1/jquery-ui.js"}
    = csrf_meta_tags
  %body
    /
      \==========================
      SCROLL TOP - START
      \===========================
    #scrolltop.hidden-xs
      %i.fa.fa-angle-up
    /
      \==========================
      SCROLL TOP - END
      \===========================
    #page-wrapper
      / PAGE - START
      /
        \==========================
        HEADER - START
        \===========================
      .top-header.hidden-xs
        .container
          .row
            .col-sm-5
              %ul.list-inline.contacts
                %li
                  %i.fa.fa-envelope
                  support@onlinecatering.es
                %li
                  %i.fa.fa-phone
                  754 213 456
            .col-sm-7.text-right
      %header.navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            = link_to root_path, class: 'navbar-brand' do
              %span> e
              Catering
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %i.fa.fa-bars
          .navbar-collapse.collapse
            %p.navbar-text.hidden-xs.hidden-sm
            %ul.nav.navbar-nav.navbar-right

              - if customer_signed_in?
                %li.dropdown
                  = link_to "Search", search_path
                  %li.dropdown
                    = link_to "Vendors", customers_vendors_path
                  %li.dropdown.megamenu
                    %a.dropdown-toggle{"data-close-others" => "true", "data-delay" => "300", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"} My Account
                    %ul.dropdown-menu
                      %li.col-sm-12
                        %ul.list-unstyled
                          %li
                            %a{:href => "my-account.html"} Account Details
                          %li
                            = link_to "Orders", customers_orders_path
                          %li
                            = link_to "Addresses", customers_addresses_path
                          %li
                            = link_to "Edit Password", edit_customer_registration_path
                          %li
                            = link_to "Logout", destroy_customer_session_path, method: :delete

              - elsif vendor_signed_in?
                %li.dropdown
                  = link_to "My Food Items", vendors_food_items_path
                %li.dropdown
                  = link_to "Orders", vendors_orders_path
                %li.dropdown.megamenu
                  %a.dropdown-toggle{"data-close-others" => "true", "data-delay" => "300", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"} My Account
                  %ul.dropdown-menu
                    %li.col-sm-12
                      %ul.list-unstyled
                        %li
                          %a{:href => "my-account.html"} Account Details
                        %li
                          = link_to "Edit Password", edit_vendor_registration_path
                        %li= link_to "Logout", destroy_vendor_session_path, method: :delete
              - else
                %li.dropdown
                  = link_to "Search", search_path
                %li.dropdown
                  = link_to "How It Works", how_it_works_path
                %li.dropdown
                  = link_to "Sell Food With Us", sell_food_path
                = link_to "SIGN UP", new_customer_registration_path, class: "btn btn-primary btn-sm user-button"
                = link_to "LOG IN", new_customer_session_path, class: "btn btn-primary btn-sm user-button"

      /
        \==========================
        HEADER - END
        \===========================
      = yield
      /
        \==========================
        NEWSLETTER - START
        \===========================
      %section.separator.separator-newsletter
      /   .container
      /     .newsletter-left
      /       .newsletter-badge
      /         %span Subscribe
      /         %span.price $15
      /         %span discount
      /     .newsletter-right
      /       .row
      /         .col-sm-6
      /           .newsletter-body
      /             %h3 Newsletter
      /             %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      /         .col-sm-6
      /           %form
      /             .input-group.input-group-lg
      /               %input.form-control{:placeholder => "Enter email address", :type => "email"}/
      /               %span.input-group-btn
      /                 %button.btn.btn-primary{:type => "button"} Sign Up
      /
        \==========================
        NEWSLETTER - END
        \===========================
      /
        \==========================
        FOOTER - START
        \===========================
      %footer.navbar.navbar-default
        .container
          .row
            .col-sm-3.col-xs-6
              .footer-widget.footer-widget-contacts
                %h4 Contacts
                %ul.list-unstyled
                  %li
                    %i.fa.fa-envelope>
                    support@onlinecatering.es
                  %li
                    %i.fa.fa-phone
                    754 213 456
                  %li
                    %i.fa.fa-map-marker
                    40°44'00.9"N 73°59'43.4"W
                  %li.social
                    %a{:href => "#"}
                      %i.fa.fa-facebook
                    %a{:href => "#"}
                      %i.fa.fa-twitter
                    %a{:href => "#"}
                      %i.fa.fa-instagram
                    %a{:href => "#"}
                      %i.fa.fa-linkedin
                    %a{:href => "#"}
                      %i.fa.fa-tumblr
            .col-sm-3.col-xs-6
              .footer-widget.footer-widget-links
                %h4 Information
                %ul.list-unstyled
                  %li
                    = link_to "About Us", about_us_path
                  %li
                    = link_to "Terms & Conditions", terms_path
                  %li
                    = link_to "Privacy Policy", privacy_policy_path
                  %li
                    = link_to "FAQ", faq_path
            .col-sm-3.col-xs-6
              .footer-widget.footer-widget-twitter
                %h4 Recent tweets
                #twitter-wrapper
            .col-sm-3.col-xs-6
              .footer-widget.footer-widget-facebook
                %h4 Facebook Page

          .footer-bottom
            .row
              .col-sm-6
                %p.copyright © Online Catering 2016 All right reserved.
                %p.copyright
                  Designed by
                  %a{:href => "http://onlinecatering.es/", :target => "_blank"} Online Catering.
              .col-sm-6
                %ul.list-inline.payment-methods
                  %li
                    %i.fa.fa-cc-amex
                  %li
                    %i.fa.fa-cc-diners-club
                  %li
                    %i.fa.fa-cc-discover
                  %li
                    %i.fa.fa-cc-jcb
                  %li
                    %i.fa.fa-cc-mastercard
                  %li
                    %i.fa.fa-cc-paypal
                  %li
                    %i.fa.fa-cc-stripe
                  %li
                    %i.fa.fa-cc-visa
